

body {

    border: 05px solid black;
    background-image: url();
    background-position: right bottom;
    background-repeat: no-repeat

}

.bemvindo-cabecalho {
    text-align: center;
    text-transform: uppercase
    
  }

.titulo {
    text-align: center;
 
    
  }

  .home{
    text-align: center;
  }

  .p-institucional{
    text-align: center;
  }



.p-institucional{
    text-align: left center; 
  }

p {
    image-orientation: from-image;
    font-size: 30px;
  
}
  
.powered{
    text-align: right; 
    
    
    
}

footer{
    padding-bottom: 05px;
    color:black;
    font-size: 15px

}

.contato{
    text-align: center
  }
    

.redes-sociais-rodape {
    text-align: center
  }