


body {

    border: 05px solid black;
    background-image: url(https://medias.spotern.com/spots/w640/109/109238-1532336916.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 15px;
}

p {
    image-orientation: from-image;
    font-size: 25px;
  
}
  

footer{
    padding-bottom: 05px;
    color:black;
    font-size: 25px;

    
    
}

